<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event Stream</title>
    <style>
        .wrapper {
            position: absolute;
            inset: 0;
            display: grid;
            place-items: center;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div>
            <canvas id="chart"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </div>
</body>
<script>
    const ctx = document.getElementById("chart")

    const chart = new Chart(ctx, {
        type: "doughnut",
        data: {
            labels: [],
            datasets: [{
                label: "Gradifier",
                data: [],
                backgroundColor: [
                    "rgb(255, 99, 132)",
                    "rgb(54, 162, 235)",
                    "rgb(255, 205, 86)"
                ],
                hoverOffset: 4
            }],
        },
    });

    function updateChart(chart, labels, newData) {
        chart.data.labels = labels;
        chart.data.datasets[0].data = newData;
        chart.update();
    }

    const source = new EventSource("/events");

    source.onmessage = function (event) {
        try {
            console.log(event.data);
            const data = JSON.parse(event.data);
            const chartLabels = Object.keys(data);
            const chartData = Object.values(data);
            console.log(chartLabels);
            console.log(chartData);
            updateChart(chart, chartLabels, chartData);
        } catch (err) {
            console.error(err);
        }
    };

    source.onerror = function (err) {
        console.error(err);
    };
</script>

</html>
